:root {
  --font: "Roboto", sans-serif;
  --gold: #fac702;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  background-color: var(--gold);
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 600px;
  height: 500px;
}

.title {
  background-color: #000000;
  color: var(--gold);

  width: 310px;
  height: 50px;
  padding-top: 2rem;
  margin-bottom: 0.5rem;

  font-family: var(--font);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

li{
background-color: #ffffff;
}

.todo__item {
  display: flex;
  margin-bottom: 0.3rem;
}

.check {
  background-image: url("../icons/done.svg");
  background-repeat: no-repeat;
  background-size: cover;

  border: none;
  border-radius: 30%;

  height: 30px;
  width: 30px;
}

.del {
  background-image: url("../icons/delete.svg");
  background-repeat: no-repeat;
  background-size: cover;

  border: none;
  border-radius: 30%;

  height: 30px;
  width: 30px;
}

.add {
  background-image: url("../icons/add.svg");
  background-repeat: no-repeat;
  background-size: cover;

  border: 1px solid #000000;

  border-radius: 50%;

  height: 25px;
  width: 25px;

  margin: 0.2rem 0 0 0.3rem;
}

.update {
  background-image: url("../icons/update.svg");
  background-repeat: no-repeat;
  background-size: cover;

  border: 1px solid #000000;

  border-radius: 50%;

  height: 25px;
  width: 25px;

  margin: 0.2rem 0 0 0.3rem;
  
}

.text {
  margin: 0 0.5rem 0 0.5rem;
  padding-top: 0.5rem;
  min-width: 200px;


  font-family: var(--font);
  font-weight:lighter;
  text-align: center;
}

.done {
  text-decoration: line-through 3px;
}

.todo__text {
  display: flex;
  margin-left: 1rem;
}

#input_text{
  border-radius: 4px;
  text-align: center;

  width: 240px;
  height: 25px;
}
